* {
  margin: 0;
  padding: 0;
}

#biomolecule-wrapper {
  width: 780px;
  margin: 0 auto;
  position: relative;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

path {
  cursor: pointer;
  fill: rgba(120, 226, 196, 0);
}

.point:hover {
  fill: rgba(120, 226, 196, 0.26);
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
}

#timeline-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 500px;
  background-color: white;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -100%);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .43);
  transition: all ease-in-out 0.5s;
}

#closeButton {
  display: flex;
  width: 100%;
  justify-content: center;
  -webkit-appearance: none;
  background: none;
  border: 0;
  font-size: 14px;
  height: 30px;
  align-items: center;
  cursor: pointer;
}

#closeButton:hover {
  background: #f7f7f7;
}

#closeButton  span {
  width: 10px;
  height: 10px;
  border-right: 2px solid black;
  border-top: 2px solid black;
  transform: rotate(-45deg) translate(-4px, -1px);
  margin-right: 7px;
}

#timeline-wrapper.opened {
  transform: translateX(-50%);
  top: 0;
}
